*.save
*.depend
*.layout
bin/
obj/
Run.lnk
*.cbp

# Sublime Text Exceptions
*.sublime-workspace
*.sublime-project

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.cpython-35

# Images
*.png
*.jpg
*.bmp
*.pyc
*.gif